# Project specific
*.dsidx
*.sqlite
*.tgz
NSIS.docset/

# Package managers
bower_components/
node_modules/
npm-debug.log*
vendor/

# We rely on the latest version of the documentation, hence versioning needs
# be avoided
package-lock.json
yarn.lock

todo.md
