 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="generator" content="nsis-docset-builder <%= version %>" />
    <title><%= pageTitle %></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <%- contents %>
            </div>
            <div class="col-12 text-right">
              <hr>
              <a href="<%= ghLink %>" class="btn btn-sm btn-default">Edit on GitHub</a>
          </div>
      </div>
  </div>
</body>
</html>