.hljs-dark .hljs,
.hljs-light .hljs {
  overflow-x: auto;
  padding: 1em;
  -webkit-text-size-adjust: none;
}

.hljs-dark .hljs-comment {
  color: #989498;
}

.hljs-dark .hljs-attribute,
.hljs-dark .hljs-name,
.hljs-dark .hljs-regexp,
.hljs-dark .hljs-tag,
.hljs-dark .hljs-variable {
  color: #dd464c;
}

.hljs-dark .hljs-built_in,
.hljs-dark .hljs-constant,
.hljs-dark .hljs-literal,
.hljs-dark .hljs-number,
.hljs-dark .hljs-params,
.hljs-dark .hljs-preprocessor {
  color: #fd8b19;
}

.hljs-dark .hljs-header,
.hljs-dark .hljs-inheritance,
.hljs-dark .hljs-string,
.hljs-dark .hljs-value {
  color: #8fc13e;
}

.hljs-dark .hljs-title {
  color: #149b93;
}
.hljs-dark .hljs-function {
  color: #1290bf;
}

.hljs-dark .hljs-keyword {
  color: #c85e7c;
}

.hljs-dark .hljs {
  display: block;
  background: #322931;
  color: #b9b5b8;
}

.hljs-light .hljs-comment {
  color: #797379;
}

.hljs-light .hljs-attribute,
.hljs-light .hljs-name,
.hljs-light .hljs-regexp,
.hljs-light .hljs-tag,
.hljs-light .hljs-variable {
  color: #dd464c;
}

.hljs-light .hljs-built_in,
.hljs-light .hljs-constant,
.hljs-light .hljs-literal,
.hljs-light .hljs-number,
.hljs-light .hljs-params,
.hljs-light .hljs-preprocessor {
  color: #fd8b19;
}

.hljs-light .hljs-header,
.hljs-light .hljs-inheritance,
.hljs-light .hljs-string,
.hljs-light .hljs-value {
  color: #8fc13e;
}

.hljs-light .hljs-title {
  color: #149b93;
}

.hljs-light .coffeescript .hljs-title,
.hljs-light .hljs-function {
  color: #1290bf;
}

.hljs-light .hljs-keyword {
  color: #c85e7c;
}

.hljs-light .hljs {
  display: block;
  background: #fef7f4;
  color: #5c545b;
}
