@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Fira Sans';
        src: url(../../fonts/FiraSans-Light.eot);
        src: local('Fira Sans Light'),
             url(../../fonts/FiraSans-Light.eot) format('embedded-opentype'),
             url(../../fonts/FiraSans-Light.woff2) format('woff2'),
             url(../../fonts/FiraSans-Light.ttf) format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Fira Sans';
        src: url(../../fonts/FiraSans-Regular.eot);
        src: local('Fira Sans Regular'),
             url(../../fonts/FiraSans-Regular.eot) format('embedded-opentype'),
             url(../../fonts/FiraSans-Regular.woff2) format('woff2'),
             url(../../fonts/FiraSans-Regular.ttf) format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Fira Mono';
        src: url(../../fonts/FiraMono-Regular.eot);
        src: local('Fira Mono'),
             url(../../fonts/FiraMono-Regular.eot) format('embedded-opentype'),
             url(../../fonts/FiraMono-Regular.woff2) format('woff2'),
             url(../../fonts/FiraMono-Regular.woff) format('woff'), 
             url(../../fonts/FiraMono-Regular.ttf) format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    
    body {
        @apply font-light;
    }

    h1 {
        @apply text-2xl font-normal;
    }

    h2 {
        @apply text-xl font-normal;
    }

    h3 {
        @apply text-lg font-normal;
    }

    a {
        @apply text-blue-600 underline;
    }

    h1, h2, h3, p, pre {
        @apply mb-4;
    }

    /* Custom classes */
    
    .btn-primary {
        @apply bg-emerald-500 hover:bg-white hover:text-emerald-500 p-3 mx-1 text-white rounded-full no-underline;
    }
    
    .btn-secondary {
        @apply border-2 border-slate-300 hover:border-white p-3 mx-1 text-white rounded-full no-underline;
    }

    .gradient {
        background: linear-gradient(135deg, #cdbfe3 0, #3e333f 100%);
    }
}
